aside
  p #{gare.nom}

  input(type="submit", value="supprimer" class="delete" data-id="#{gare._id}")  
  input(type="submit", value="update" class="update" data-id="#{gare._id}" data-nom="#{gare.nom")
  

  
