extends layout

block content
  h1= title
  p Welcome to #{title}
  h1 Ajouter une gare
  form(method="post" action="/gares/" id="addGare")
    .form-group
      label(for="nom") nom
      input(type="text", class="form-control", id="nom", name="nom", placeholder="nom")
    .form-group
      label(for="datecreation") Date de creation
      input(type="text",   id="datecreation", name="datecreation", placeholder="datecreation")
    .form-group
      label(for="siret") siret
      input(type="text",   id="siret", name="siret", placeholder="siret")  
    .form-group
      label(for="didexterne") idexterne
      input(type="text",   id="idexterne", name="idexterne", placeholder="idexterne")
    .form-group
       label(for="gid") gid
       input(type="text",   id="gid", name="gid", placeholder="gid")
    .form-group
       label(for="identifiantn") identifiant
       input(type="text",   id="identifiant", name="identifiant", placeholder="identifiant")
                  
     div(class="form-group text-right")
    
      button(type="submit" class="btn btn-primary")  Ajouter


  
      
   h1 gare list
   .container
     each gare in gares
       include ./gares.jade   
